<div class="learn-more">
    <p>The UMA Food Chatbot, designed for a Japanese restaurant named UMA, 
        uses Dialogflow's Natural Language Processing (NLP) capabilities to assist users 
        in managing their orders seamlessly. 
        The chatbot supports adding or removing items, completing orders, and tracking order status in real-time, 
        making the ordering process efficient and interactive.</p>
    
    <h4>📋 Basic Knowledge Requirements</h4>
    <ul>
        <li>Understanding <strong>Basic Python Programming</strong> such as functions, dictionaries, 
            and control structures.</li>
        <li>Familiarity with <strong>FastAPI</strong> for building <strong>APIs</strong>.</li>
        <li>Basic knowledge of <strong>MySQL</strong> for database operations.</li>
        <li>Understand <strong>Dialogflow</strong> and handle <strong>JSON data</strong>.</li>
    </ul>

    <h4>🔑 Key Learnings</h4>
    <ul>
        <li>Create and manage <strong>intents</strong> and <strong>entities</strong> in Dialogflow 
            using <strong>NLP</strong> to handle user interactions.</li>
        <li>Handle <strong>webhook requests</strong> from Dialogflow using <strong>FastAPI</strong> </li>
        <li>Interact with a <strong>MySQL database</strong> to manage orders and food items.</li>
        <li>Manage <strong>user sessions</strong> to ensure data consistency.</li>
        <li>Implement <strong>async operations</strong> for better performance and handling multiple requests.</li>
    </ul>

    <h4>📖 Short Story Behind the Code</h4>
    <ul>
        <li><strong>Webhook Handling:</strong>
            <ul>
                <li>The chatbot processes incoming webhook requests from Dialogflow, extracts information (intent, entities, parameters), and routes requests to appropriate functions.</li>
            </ul>
        </li>
        <li><strong>New Order:</strong>
            <ul>
                <li>On initiating a new order, the chatbot clears existing session data and provides a list of available items, guiding the user to specify their desired food items and quantities.</li>
            </ul>
        </li>
        <li><strong>Add/Remove Items:</strong>
            <ul>
                <li>Users can add or remove items by specifying the food and quantity. The chatbot updates the session based on the recognized items and quantities.</li>
            </ul>
        </li>
        <li><strong>Complete Orders:</strong>
            <ul>
                <li>The chatbot prompts for confirmation to complete orders, saves the order in the database, calculates the total price, and clears session data upon confirmation.</li>
            </ul>
        </li>
        <li><strong>Track Orders:</strong>
            <ul>
                <li>Users can inquire about order status, and the chatbot retrieves the status from the database and informs the user.</li>
            </ul>
        </li>
        <li><strong>Database Helper Functions:</strong>
            <ul>
                <li>Functions ensure efficient data handling, such as checking item existence, saving orders, and calculating prices.</li>
            </ul>
        </li>
        <li><strong>Session Management:</strong>
            <ul>
                <li>The application tracks and manages user interactions with active sessions and periodically cleans up inactive sessions for resource efficiency.</li>
            </ul>
        </li>
    </ul>

    <h4>🔗 GitHub Repository</h4>
    <p>To explore the complete code and more detailed documentation, visit the 
        <a href="https://github.com/lisek75/uma_food_chatbot" target="_blank">Uma GitHub repository</a>.
    </p>
</div>
